.markitup-famfamfamsilk .markitup-bold a {
  background-image:url(images/text_bold.png);
}

.markitup-famfamfamsilk .markitup-italic a {
  background-image:url(images/text_italic.png);
}

.markitup-famfamfamsilk .markitup-stroke a {
  background-image:url(images/text_strikethrough.png);
}

.markitup-famfamfamsilk .markitup-list-bullet a {
  background-image:url(images/text_list_bullets.png);
}

.markitup-famfamfamsilk .markitup-list-numeric a {
  background-image:url(images/text_list_numbers.png);
}

.markitup-famfamfamsilk .markitup-image a {
  background-image:url(images/image_add.png);
}

.markitup-famfamfamsilk .markitup-link a {
  background-image:url(images/link_add.png);
}

.markitup-famfamfamsilk .markitup-clean a {
  background-image:url(images/tag.png);
}

.markitup-famfamfamsilk .markitup-preview a {
  background-image:url(images/tick.png);
}